ExpertDistributorApp/ExpertDistributorApp/obj/
ExpertDistributorApp/ExpertDistributorApp/bin/
BusinessLogic/bin/Debug/DAL.pdb
DAL/obj/Debug/DAL.csprojResolveAssemblyReference.cache
DAL/obj/
BusinessLogic/bin/
BusinessLogic/obj/
DAL/bin/
ExpertDistributorApp/ExpertDistributorApp/Content/PdfReports/
